.article_card {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #FFF7F4;
}

.article_card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card_content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0.5rem;
    padding-bottom: 0;
}

.title {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.date_line {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    flex-direction: row;
}

.line {
    flex: 1;
    height: 1px;
    background-color: #000;
    margin-right: 0.5rem;
}

.date {
    font-size: 0.8rem;
}

.description {
    font-size: 0.9rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.spacer {
    flex-grow: 1;
    min-height: 1rem;
}

.card_bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card_footer {
    display: flex;
    border-top: 1px solid #000;
    min-height: 2rem;
    width: calc(100% + 1rem);
    margin-top: 0.5rem;
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.category_container {
    display: flex;
    align-items: center;
    border-right: 1px solid #000;
    height: 100%;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.2s;
}

.category_container:hover {
    background-color: #f4d06f;
}

.category {
    font-size: 0.8rem;
}

.read_more {
    align-self: flex-end;
    font-size: 0.9rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
    transition: color 0.2s ease;
    margin-right: 0.5rem;
}

.read_more:hover {
    color: #f4d06f;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .title {
        font-size: 1.3rem;
    }

    .description {
        font-size: 0.85rem;
    }

    .card_footer {
        width: calc(100% + 1rem);
        margin-left: -0.5rem;
    }
}

@media (max-width: 480px) {
    .card_content {
        padding: 0.3rem;
        padding-bottom: 0;
    }

    .title {
        font-size: 1.2rem;
    }

    .card_footer {
        width: calc(100% + 0.6rem);
        margin-left: -0.3rem;
    }
}