.home_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    padding: 2rem 0;
    overflow: hidden;
}

.hero_image {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 950px;
    width: 100%;
    height: 100%;
    position: relative;
}

.file_svg {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-height: 70vh;
    z-index: 2;
    /* Apply a mask that creates a soft circular edge */
    mask-image: radial-gradient(circle, black 10%, transparent 80%);
}

/* Levitation animation */
@keyframes levitate {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.levitate {
    animation: levitate 3s ease-in-out infinite;
}

.hero_image::before {
    display: none;
}